@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(247, 247, 247, 1);

  color: rgba(6, 39, 101, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.tycoon-header.is-open .tycoon-header-background {
  left: 0;
}
.tycoon-header-button-wrapper {
  margin-left: auto;
}
.tycoon-header-icon {
  display: none;
}

.tycoon-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.tycoon-navigation-list.is-open {
  right: 0;
}
.tycoon-header-icon-menu {
  display: block;
}

.tycoon-header-icon-button.is-open .tycoon-header-icon-menu {
  display: none;
}

.tycoon-header-icon-button.is-open .tycoon-header-icon-close {
  display: block;
}

.tycoon-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(235, 247, 255, 0.8);
}

.tycoon-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(235, 247, 255, 0.8);
  backdrop-filter: blur(50px);
}
.tycoon-header.is-open .tycoon-header-background {
  left: 0;
}
.tycoon-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tycoon-header-icon-menu {
  display: block;
}

.tycoon-header-icon-button.is-open .tycoon-header-icon-menu {
  display: none;
}

.tycoon-header-icon-button.is-open .tycoon-header-icon-close {
  display: block;
}

.tycoon-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.tycoon-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 297px;
  transition: 0.3s;
  z-index: 999;
  padding: 0 16px;

  gap: 12px;
  background: rgba(235, 247, 255, 0.8);
  backdrop-filter: blur(50px);
}

.tycoon-navigation-list.is-open {
  right: 0;
}

.tycoon-navigation-link {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(6, 39, 101, 1);
}

.tycoon-navigation-link:hover,
.tycoon-navigatioт-link:focus {
  color: rgba(123, 211, 74, 1);
}

.tycoon-header.is-open {
  background-color: transparent;
}

.tycoon-navigation-img {
  display: none;
}
.tycoon-title-img {
  width: 285px;
  height: 24px;
}
@media screen and (min-width: 1200px) {
  .tycoon-navigation-img {
    display: flex;
    width: 278px;
    height: 72px;

    margin-right: 110px;
  }
  .tycoon-policy-terms-header-icon-menu {
    display: none;
  }

  .tycoon-header {
    width: 100%;
    height: 120px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .tycoon-header-background {
  }
  .tycoon-header-icon-button {
    display: none;
  }
  .tycoon-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .tycoon-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 1px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .tycoon-navigation-link {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -1px;

    padding: 0px 10px;
    text-decoration: none;
  }

  .tycoon-navigation-item-desk {
    display: none;
  }
}
.tycoon-home {
  width: 375px;
  height: 598px;
  padding: 119px 32px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40070.png");
  margin: auto;
}

.tycoon-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tycoon-home-title {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}

.tycoon-home-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;

  padding: 16px 0 0px;
}

.tycoon-home-google-button-image {
  width: 375px;
  height: 175px;
}

.tycoon-home-google-button-link:hover .tycoon-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .tycoon-home {
    width: 1440px;
    height: 920px;
    padding: 206px 622px 0px 96px;
    background-image: url("/img/home/Frame\ 40071.png");
  }

  .tycoon-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .tycoon-home-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 56px;
    line-height: 130%;
    letter-spacing: 0%;
    padding-right: 60px;
  }

  .tycoon-home-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 32px 0 0px;
  }
  .tycoon-home-google-button-image {
    width: 375px;
    height: 175px;
    margin-top: -20px;
    margin-left: -16px;
  }
}
.tycoon-why {
  width: 375px;

  margin: auto;
  padding: 56px 16px 0;
}

.tycoon-why-list {
  padding-top: 48px;
  padding-bottom: 32px;
}
.tycoon-why-lists {
  display: none;
}

.tycoon-why-item {
  margin: 0 5px;
  width: 343px;
  height: 105px;
  background: rgba(231, 231, 231, 1);

  padding: 16px;
  border-radius: 16px;

  transition: all 0.3s ease-in-out;
}
.tycoon-why-item:hover {
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.tycoon-why-text-bold {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}

.tycoon-why-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;

  padding-top: 8px;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 32px;
  height: 32px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/11.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/1.png") no-repeat center/cover;
}
@media screen and (min-width: 1200px) {
  .tycoon-why {
    width: 1440px;
    padding: 120px 72px 0;
  }
  .tycoon-why-list {
    display: none;
  }
  .tycoon-why-lists {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 56px;
    gap: 24px;
    border-radius: 48px;
    padding: 32px;
    background: rgba(242, 242, 242, 1);
  }

  .tycoon-why-item {
    margin: 0;
    width: 1232px;
    height: 129px;
    border-radius: 16px;
    padding: 24px;
  }

  .tycoon-why-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .tycoon-why-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 8px;
  }
}

.tycoon-about {
  padding: 80px 16px 0px;
  margin: auto;
  width: 375px;
}

.tycoon-about-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.tycoon-about-img {
  padding-top: 20px;
  margin-left: -16px;
}
.tycoon-about-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .tycoon-about {
    padding: 120px 237px 0;
    width: 1440px;
  }
  .tycoon-about-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
  .tycoon-about-img {
    padding-top: 20px;
    margin-left: -34px;
    content: url("/img/Frame\ 40028\ \(1\).png");
  }
  .tycoon-about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 10px 0px 0;
  }
}
.tycoon-how {
  width: 375px;
  height: 292px;
  margin: auto;
  margin-top: 80px;
  padding: 0px 16px;
  background-repeat: no-repeat;

  background-image: url("/img/Frame\ 40072.png");
}

.tycoon-how-list {
  display: none;
}

.tycoon-how-item {
  width: 343px;
  height: 105px;
  background: rgba(242, 242, 242, 1);
  border-radius: 16px;
  padding: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.tycoon-how-item:hover {
  border: 1px solid rgba(7, 146, 255, 1);
}
.tycoon-how-text-bold {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}

.tycoon-how-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: right;

  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .tycoon-how {
    width: 1440px;
    height: 548px;
    margin-top: 73px;
    padding: 47px 72px 0px;
    background-image: url("/img/Frame\ 40073.png");
  }
  .tycoon-how-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 56px;
    gap: 24px;
  }

  .tycoon-how-item {
    width: 416px;
    height: 141px;
    border-radius: 16px;
    padding: 24px;
  }
  .tycoon-how-text-bold {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .tycoon-how-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;

    padding-top: 16px;
  }
}

.tycoon-reviews {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}

.tycoon-reviews-list {
  padding: 48px 0 32px;
}

.tycoon-reviews-item {
  margin: 5px;
  width: 343px;
  height: 109px;

  border-radius: 16px;
  padding: 16px;
  background: rgba(235, 247, 255, 1);

  transition: all 0.3s ease-in-out;
}
.tycoon-reviews-item:hover {
}

.tycoon-reviews-text-bold {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}

.tycoon-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-top: 12px;
}

@media screen and (min-width: 1200px) {
  .tycoon-reviews {
    width: 1440px;

    padding: 120px 72px 0;
  }
  .tycoon-reviews-list {
    padding: 56px 0;
  }

  .tycoon-reviews-item {
    margin: 0 12px;
    width: 526px;
    height: 153px;
    border-radius: 16px;
    padding: 24px;
  }

  .tycoon-reviews-text-bold {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .tycoon-reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 12px;
  }
}

.tycoon-faq {
  padding: 70px 16px 0px;
  margin: auto;
  width: 375px;
}

.tycoon-faq-container {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tycoon-faq-item {
  background: rgba(209, 238, 255, 1);

  border-radius: 16px;
  padding: 16px;
}

.tycoon-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}

.tycoon-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.tycoon-faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .tycoon-faq {
    padding: 62px 72px 0;
    width: 1440px;
  }
  .tycoon-faq-container {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .tycoon-faq-item {
    border-radius: 16px;
    padding: 24px;
  }

  .tycoon-faq-question {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .tycoon-faq-answer {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
  }
}
.tycoon-gallery {
  width: 375px;
  margin: auto;
  padding: 80px 16px 120px;
}

.tycoon-gallery-list {
  padding: 48px 0 32px;
}

.tycoon-gallery-item {
  width: 253px;
  height: 405xp;

  overflow: hidden;
  position: relative;
  margin: 0 8px;
}
.tycoon-gallery-item-two {
  width: 253px;
  height: 405xp;
}
.tycoon-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .tycoon-gallery {
    width: 1440px;

    padding: 120px 72px 130px;
  }

  .tycoon-gallery-item {
    width: 526px;
    height: 842px;

    margin: 0 12px;
  }

  .tycoon-gallery-list {
    padding: 56px 0 40px;
  }
}

.tycoon-features {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0px;
}

.tycoon-features-list {
  display: none;
}

.tycoon-features-item {
  width: 343px;
  height: 165px;
  background: rgba(235, 247, 255, 1);
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid transparent;
}
.tycoon-features-item:hover {
  border: 1px solid rgba(7, 146, 255, 1);
}

.tycoon-features-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  display: flex;
  align-items: start;
  gap: 8px;
  height: 62px;
}

.tycoon-features-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .tycoon-features {
    width: 1440px;
    padding: 120px 72px 0;
  }
  .tycoon-features-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 56px;
    gap: 24px;
  }

  .tycoon-features-item {
    width: 416px;
    height: 133px;
    border-radius: 16px;
    padding: 24px;
  }

  .tycoon-features-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    height: auto;
  }

  .tycoon-features-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.tycoon-policy-terms-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

.tycoon-policy-terms-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.tycoon-policy-terms-text {
  padding-top: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

.tycoon-policy-terms-texts {
  padding-top: 8px;
}

.tycoon-policy-terms-text-one {
  padding-top: 20px;
}

.tycoon-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.tycoon-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.tycoon-email-link {
  color: inherit;
  text-decoration: none;
}

.tycoon-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .tycoon-policy-terms-container {
    padding: 183px 72px 60px;
    width: 1440px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .tycoon-policy-terms-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .tycoon-policy-terms-text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 40px;
  }

  .tycoon-policy-terms-text-one {
    padding-top: 30px;
  }

  .tycoon-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.tycoon-footer {
  width: 375px;
  margin: auto;
  color: rgba(6, 39, 101, 1);
  background: rgba(235, 247, 255, 0.8);

  padding: 32px;
}

.tycoon-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tycoon-footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.tycoon-footer-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

  color: rgba(6, 39, 101, 1);
}

.tycoon-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .tycoon-footer {
    width: 1440px;
    padding: 24px;
  }

  .tycoon-footer-container {
    gap: 16px;
  }

  .tycoon-footer-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .tycoon-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.tycoon-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px 20px;
  border-radius: 24px;
  background: rgba(137, 203, 255, 1);

  z-index: 1000;
  display: none;
}

.tycoon-cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(6, 39, 101, 1);
}

.tycoon-cookie-button-container {
  padding: 0px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.tycoon-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(224, 247, 208, 1);
  width: 133px;

  padding-top: 11px;

  padding-bottom: 11px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(6, 39, 101, 1);
  border-radius: 14px;
}

#accept-cookies {
  background: rgba(224, 247, 208, 1);
}

.tycoon-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.tycoon-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 1200px) {
  .tycoon-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
  }

  .tycoon-cookie-popup-text-two {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .tycoon-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .tycoon-cookie-button {
    width: 182px;
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .tycoon-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 32px;
    display: none;
  }
}
