@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(253, 247, 232, 1);
  color: rgba(68, 20, 6, 1);
  font-family: "Baloo 2", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.business-header.is-open .business-header-background {
  left: 0;
}
.business-header-button-wrapper {
  margin-left: auto;
}
.business-header-icon {
  display: none;
}

.business-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.business-navigation-list.is-open {
  right: 0;
}
.business-header-icon-menu {
  display: block;
}

.business-header-icon-button.is-open .business-header-icon-menu {
  display: none;
}

.business-header-icon-button.is-open .business-header-icon-close {
  display: block;
}

.business-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(234, 167, 53, 1);
}

.business-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(234, 167, 53, 1);
}
.business-header.is-open .business-header-background {
  left: 0;
}
.business-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.business-header-icon-menu {
  display: block;
}

.business-header-icon-button.is-open .business-header-icon-menu {
  display: none;
}

.business-header-icon-button.is-open .business-header-icon-close {
  display: block;
}

.business-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.business-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 297px;
  transition: 0.3s;
  z-index: 999;
  padding: 0 16px;

  gap: 12px;
  background: rgba(234, 167, 53, 1);
}
.business-title-img {
  width: 144px;
  height: 24px;
}
.business-navigation-list.is-open {
  right: 0;
}

.business-navigation-link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(253, 247, 232, 1);
}

.business-navigation-link:hover,
.business-navigatioт-link:focus {
  color: rgba(68, 20, 6, 1);
}

.business-header.is-open {
  background-color: transparent;
}

.business-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .business-navigation-img {
    display: flex;
    width: 232px;
    height: 40px;
    margin-right: 120px;
  }
  .business-policy-terms-header-icon-menu {
    display: none;
  }

  .business-header {
    width: 100%;
    height: 88px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .business-header-background {
  }
  .business-header-icon-button {
    display: none;
  }
  .business-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .business-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 1px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .business-navigation-link {
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;

    padding: 0px 10px;
    text-decoration: none;
  }

  .business-navigation-item-desk {
    display: none;
  }
}
.business-home {
  width: 375px;
  height: 661px;
  padding: 108px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40053.png");
  margin: auto;
}

.business-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(253, 247, 232, 1);
}

.business-home-title {
  font-family: Baloo 2;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.business-home-text {
  font-family: Baloo 2;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  padding: 16px 0 218px;
}

.business-home-google-button-image {
  width: 375px;
  height: 175px;
}

.business-home-google-button-link:hover .business-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .business-home {
    width: 1440px;
    height: 840px;
    padding: 149px 72px 0px;
    background-image: url("/img/home/Frame\ 40054.png");
  }

  .business-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .business-home-title {
    font-family: Baloo 2;
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .business-home-text {
    font-family: Baloo 2;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    width: 636px;
    padding: 62px 0 100px;
  }
}
.business-why {
  width: 375px;

  margin: auto;
  padding: 80px 16px 0;
}

.business-why-list {
  padding-top: 40px;
  padding-bottom: 32px;
}
.business-why-lists {
  display: none;
}

.business-why-item {
  margin: 0 5px;
  width: 343px;
  height: 128px;
  border-radius: 30px;
  padding: 16px;
  background: rgba(220, 237, 169, 1);
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.business-why-item:hover {
  background: rgba(230, 243, 192, 1);
  border: 1px solid rgba(147, 183, 35, 1);
}
.business-why-text-bold {
  font-family: Baloo 2;
  font-weight: 500;
  font-size: 24px;

  vertical-align: middle;
}

.business-why-text {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;

  padding-top: 8px;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 32px;
  height: 32px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/11.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/1.png") no-repeat center/cover;
}
@media screen and (min-width: 1200px) {
  .business-why {
    width: 1440px;
    padding: 120px 72px 0;
  }
  .business-why-list {
    display: none;
  }
  .business-why-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 56px;
  }

  .business-why-item {
    margin: 0;
    width: 416px;
    height: 270px;
    border-radius: 40px;
    padding: 24px 40px 24px;
  }

  .business-why-text-bold {
    font-family: Baloo 2;
    font-weight: 500;
    font-size: 32px;

    height: 100px;
    display: flex;
    align-items: center;
  }

  .business-why-text {
    font-family: Baloo 2;
    font-weight: 400;
    font-size: 24px;

    padding-top: 8px;
  }
}

.business-about {
  padding: 10px 16px 0px;
  margin: auto;
  margin-top: 70px;
  width: 375px;
  height: 601px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40053.png");
}

.business-about-title {
  font-family: Baloo 2;
  font-weight: 600;
  font-size: 40px;

  text-align: center;
}

.business-about-text {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 14px;

  padding: 146px 14px 0;
}

@media screen and (min-width: 1200px) {
  .business-about {
    padding: 50px 426px 0;
    margin-top: 80px;
    width: 1440px;
    height: 907px;
    background-image: url("/img/Frame\ 40055\ \(1\).png");
  }
  .business-about-title {
    font-family: Baloo 2;
    font-weight: 600;
    font-size: 48px;
  }

  .business-about-text {
    font-family: Baloo 2;
    font-weight: 400;
    font-size: 24px;

    padding: 206px 0px 0;
  }
}
.business-how {
  width: 375px;
  height: 404px;
  margin: auto;
  padding: 64px 16px;
  background-repeat: no-repeat;

  background-image: url("/img/Frame\ 40056.png");
}

.business-how-list {
  display: none;
}

.business-how-item {
  width: 343px;
  height: 122px;
  border-radius: 30px;
  padding: 16px;
  border-width: 3px;
  background: rgba(253, 237, 197, 1);
  border: 3px solid rgba(42, 154, 176, 1);
  transition: all 0.3s ease-in-out;
}
.business-how-item:hover {
  background: rgba(255, 243, 214, 1);
  border: 3px solid rgba(180, 230, 237, 1);
}
.business-how-text-bold {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 18px;
}

.business-how-text {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 18px;
  padding-top: 6px;
}

@media screen and (min-width: 1200px) {
  .business-how {
    width: 1440px;
    height: 977px;
    padding: px;
    background-image: url("/img/Frame\ 40053\ \(1\).png");
  }
  .business-how-list {
    display: flex;
    position: relative;
  }

  .business-how-item {
    width: 306px;
    height: 176px;
    border-radius: 40px;
    padding: 24px;
    border-width: 3px;

    position: absolute;
    top: 167px;
    left: 72px;
  }
  .business-how-item-q {
    top: 255px;
    left: 557px;
  }
  .business-how-item-w {
    top: 176px;
    left: 1062px;
  }
  .business-how-item-e {
    top: 544px;
    left: 222px;
  }
  .business-how-item-r {
    top: 515px;
    left: 816px;
  }
  .business-how-text-bold {
    font-family: Baloo 2;
    font-weight: 700;
    font-size: 18px;
  }

  .business-how-text {
    font-family: Baloo 2;
    font-weight: 400;
    font-size: 18px;

    padding-top: 16px;
  }
}

.business-reviews {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}

.business-reviews-list {
  padding: 25px 0 37px;
}

.business-reviews-item {
  margin: 5px;
  width: 343px;
  height: 140px;
  border-radius: 30px;
  padding: 16px;
  background: rgba(180, 230, 237, 1);
  transition: all 0.3s ease-in-out;
}
.business-reviews-item:hover {
  background: rgba(189, 237, 244, 1);
  box-shadow: 4px 4px 35px 0px rgba(226, 126, 27, 0.2);
}
.business-reviews-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.business-reviews-text-bold {
  font-family: Baloo 2;
  font-weight: 500;
  font-size: 18px;
}
.business-reviews-text-bold-two {
  display: flex;
  align-self: center;
  gap: 8px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
}
.business-reviews-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .business-reviews {
    width: 1440px;

    padding: 120px 72px 0;
  }
  .business-reviews-list {
    padding: 40px 0 20px;
  }

  .business-reviews-item {
    margin: 20px 12px;
    width: 416px;
    height: 183px;
    border-radius: 40px;
    padding: 24px;
  }

  .business-reviews-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .business-reviews-text-bold {
    font-family: Baloo 2;
    font-weight: 500;
    font-size: 24px;
  }

  .business-reviews-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    padding-top: 16px;
  }
}

.business-faq {
  padding: 60px 16px 0px;
  margin: auto;
  width: 375px;
}

.business-faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.business-faq-item {
  background: rgba(196, 224, 118, 1);
  border-radius: 30px;
  padding: 16px;
}

.business-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Baloo 2;
  font-weight: 500;
  font-size: 18px;
}

.business-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.business-faq-answer {
  display: none;
  padding-top: 8px;
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .business-faq {
    padding: 0 72px 0;
    width: 1440px;
  }
  .business-faq-container {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .business-faq-item {
    background: rgba(196, 224, 118, 1);
    border-radius: 40px;
    padding: 16px 24px;
  }

  .business-faq-question {
    font-family: Baloo 2;
    font-weight: 500;
    font-size: 32px;
  }

  .business-faq-answer {
    font-family: Baloo 2;
    font-weight: 400;
    font-size: 24px;
  }
}
.business-gallery {
  width: 375px;
  margin: auto;
  padding: 80px 16px 110px;
}

.business-gallery-list {
  padding: 40px 0 32px;
}

.business-gallery-item {
  width: 253px;
  height: 450px;

  overflow: hidden;
  position: relative;
  margin: 0 8px;
}

.business-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .business-gallery {
    width: 1440px;

    padding: 120px 72px 130px;
  }

  .business-gallery-item {
    width: 416px;
    height: 740px;

    margin: 0 12px;
  }

  .business-gallery-list {
    padding: 56px 0 40px;
  }
}

.business-features {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0px;
}

.business-features-list {
  display: none;
}

.business-features-item {
  background-image: url("/img/features/feature\ card\ 1.png");
  width: 256px;
  height: 304px;
  padding: 32px 16px;
  transition: all 0.3s ease-in-out;
  border-radius: 32px;
}
.business-features-item:hover {
  box-shadow: 4px 4px 35px 0px rgba(226, 126, 27, 0.2);
}
.business-features-img {
  margin-left: 153px;
  width: 64px;
  height: 64px;
}

.business-features-text-bold {
  font-family: Baloo 2;
  font-weight: 500;
  font-size: 18px;
  height: 56px;
  margin: 16px 0 8px;
}

.business-features-text {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .business-features {
    width: 1440px;
    padding: 120px 72px 0;
  }
  .business-features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 56px;
    gap: 24px;
  }

  .business-features-item {
    background-image: url("/img/features/feature\ card\ 2.png");
    width: 306px;
    height: 365px;
    padding-top: 40px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 24px;
    border-width: 12px;
  }

  .business-features-img {
    margin-left: 180px;
    width: 80px;
    height: 80px;
  }

  .business-features-text-bold {
    font-family: Baloo 2;
    font-weight: 500;
    font-size: 24px;

    height: 76px;
    margin: 24px 0 8px;
  }

  .business-features-text {
    font-family: Baloo 2;
    font-weight: 400;
    font-size: 18px;
  }
}

.business-policy-terms-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

.business-policy-terms-title {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.business-policy-terms-text {
  padding-top: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

.business-policy-terms-texts {
  padding-top: 8px;
}

.business-policy-terms-text-one {
  padding-top: 20px;
}

.business-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.business-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.business-email-link {
  color: inherit;
  text-decoration: none;
}

.business-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .business-policy-terms-container {
    padding: 183px 72px 60px;
    width: 1440px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .business-policy-terms-title {
    font-family: Baloo 2;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .business-policy-terms-text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 40px;
  }

  .business-policy-terms-text-one {
    padding-top: 30px;
  }

  .business-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.business-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  background: rgba(234, 167, 53, 1);

  padding: 32px;
}

.business-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.business-footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.business-footer-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: #ffffff;
}

.business-footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .business-footer {
    width: 1440px;
    padding: 24px;
  }

  .business-footer-container {
    gap: 16px;
  }

  .business-footer-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .business-footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.business-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px;
  border-radius: 24px;
  background: rgba(220, 237, 169, 1);

  z-index: 1000;
  display: none;
}

.business-cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(68, 20, 6, 1);
}

.business-cookie-button-container {
  padding: 0px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.business-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(104, 202, 217, 1);
  width: 133px;

  padding-top: 11px;

  padding-bottom: 11px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(68, 20, 6, 1);
  border-radius: 14px;
}

#accept-cookies {
  background: rgba(104, 202, 217, 1);
}

.business-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.business-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 1200px) {
  .business-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
  }

  .business-cookie-popup-text-two {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .business-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .business-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
